 <%- include('../layouts/user/header.ejs') %>
 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/dashboard">
          <i class="fa-solid fa-chart-pie"></i><span >Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/sales">
          <i class="fa-regular fa-flag"></i><span >Sales Report</span>
        </a>
      </li><!-- End Sales Report Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/Category">
          <i class="bi bi-journal-text"></i><span>Category</span>
        </a>
      </li><!-- End Category Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/Products">
          <i class="fa-brands fa-product-hunt"></i><span>Products</span>
        </a>
      </li><!-- End Product Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/users">
          <i class="fa-solid fa-user"></i><span>User</span>
        </a>
      </li><!-- End User Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/brand">
          <i class="bi bi-journal-text"></i><span>Brand</span>
        </a>
      </li><!-- End Brand Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/banner">
          <i class="fa-solid fa-tag"></i><span>Banners</span>
        </a>
      </li><!-- End Banner Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/order">
          <i class="bi bi-grid"></i><span>Orders</span>
        </a>
      </li><!-- End Order Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/coupon">
          <i class="fa-solid fa-star"></i><span>Coupon</span>
        </a>
      </li><!-- End Coupon Nav -->
    </ul>

</aside><!-- End Sidebar-->