<%- include('../layouts/user/header.ejs') %>
<%- include('../layouts/user/navbar.ejs') %>

<div class="mt-5 mb-5" style="display: flex; justify-content: center; align-items: center; height: 100%;">
  <div style="background-color: #afb8c7; padding: 20px; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
    <h2 style="text-align: center;">Change Password</h2>
    
    <form method="post" action="" style="color: rgb(0, 0, 0); display: flex; flex-direction: column;">
      <label for="old_password">Old Password:</label>
      <input type="password" id="oldpassword" name="oldpassword" required><br>
      
      <label for="new_password">New Password:</label>
      <input type="password" id="newpassword" name="newpassword" minlength="3" required><br>
      
      <label for="confirm_password">Confirm New Password:</label>
      <input type="password" id="confirmpassword" name="confirmpassword" minlength="3" required><br>
      
      <button type="submit" value="Change Password" style="margin-top: 10px;">Change Password</button>
    </form>
  </div>
</div>

<%- include('../layouts/user/footer.ejs') %>
